* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 500vh;
  background-image: url(/images/background.jpg);
  background-repeat: repeat;
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  overflow: hidden;
  background-color: #6c262600;
  justify-content: flex-end;
  padding-right: 24px;
}

.navbar a {
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 26px 28px;
  text-decoration: none;
}
#single {
  padding-top: 3px;
}
.subnav {
  overflow: hidden;
}

.subnav .subnavbtn,
#single {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
}
.navbar a:hover,
.subnav:hover .subnavbtn,
#single:hover {
  text-decoration: underline red 2px;
  text-underline-offset: 4px;
}

.subnav-content {
  visibility: hidden;
  position: absolute;
  background-color: rgba(139, 0, 0, 0);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.subnav-content a {
  flex-direction: column;
  background-color: rgba(139, 0, 0, 0);
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-align: left;
  border-left: 2px solid white;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.subnav-content a:hover {
  background-color: #eeeeee00;
  color: rgb(255, 255, 255);
  border-left: 2px solid red;
  font-size: 16.5px;
}

.subnav:hover .subnav-content {
  visibility: visible;
}
