* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 500vh;
  background-image: url(/images/background.jpg);
  background-repeat: repeat;
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* border: solid green 2px; */
}

.headline {
  color: aliceblue;
  font-size: 60px;
  padding: 40px  0;
  font-family: 'Turret Road', sans-serif;
  /* border: solid 2px teal; */
}

.inner-section {
  max-width: 95%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
  align-items: center;
}

.content-section {
  /* border: 2px solid red; */
  display: flex;
  padding: 10px;
}

.Content {
  /* border: blue 1px solid; */
  padding: 10px;
  width: 50%;
  font-family: serif;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

.section-img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 40px;
}


.text {
  text-align: center;
  color: #a0e7e7;
  padding: 5px;
  margin: 5px 0;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.italic {
  font-style: italic;
}